<div class="sidebar left200px" id="iml-sidebar">
    <div class="">
        <ul class="menu-v with-icons">
            <li>
                <a href="#/"><i class="icon16 home"></i>Все заявки</a>
            </li>
        </ul>
    </div> 
</div>

<div class="content left200px blank" id="iml-content">
    <div class="block triple-padded"><i class="icon16 loading"></i>[`Loading...`]</div>
</div>
<script type="text/javascript" src="{$wa_app_static_url}plugins/iml/js/iml.js?{$wa->version()}"></script>
<script type="text/javascript">
    $(function () {
        $.iml.init();
    });
</script>
